doctype html
html(lang='en')
  head
    title
    script(type='text/javascript')
    link(rel='stylesheet' href='styles.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://use.fontawesome.com/f20ae5fe89.js")
      
  body
    #header
      i(class="fa fa-twitter fa-4x" aria-hidden="true")
      h1#twits twits
      #navbar
        button.logout logout 

block content
